h1 {
    color: #D3A625;
}

#searchInput {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #3C3B6E;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #726A9E;
}

#characterDetails {
    margin-top: 20px;
}
