body {
    margin: 0 2rem;
    background-image: url("../imagens/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-attachment: fixed;
}

.nav {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__lista {
    display: flex;
    list-style-type: none;
}

.nav__item {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #fefefe;
    padding: 0.25rem 1.5rem;
    margin-left: 2rem;
    border-radius: 60px;
}

.nav__item:hover {
    background-color: #666666;
    color: #fefefe;
}

.footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 100px 0 0;
  }
