.apresentacao {
    font-weight: bold;
    width: 50%;
}

.apresentacao__titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.apresentacao__texto {
    font-size: 1.5rem;
}

.hiperlink {
    color: #777CEC;
}

.containerCards {
    width: 100%;
    display: grid;
    row-gap: 2rem;
    grid-template-areas: 
    "card1 card1 ."
    ". card2 card2"
    "card3 card3 ."
    ;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.cardApresentacao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "imagem titulo"
    "imagem texto"
    "imagem btn"
    ;
    background-color: #ffffffcc;
    border-radius: 40px;
    color: #000000;
}

.cardApresentacao__imagem {
    grid-area: imagem;
    width: 469px;
    height: 252px;
}

.cardApresentacao__titulo {
    grid-area: titulo;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
}

.cardApresentacao__texto {
    grid-area: texto;
    font-size: 1rem;
    margin: 0 2rem ;
}

.cardApresentacao__btn {
    grid-area: btn;
    justify-self: center;
    align-self: center;
    padding: 0.5rem 1.5rem;
    width: 8rem;
    border-radius: 60px;
    background-color: #777CEC;
    font-weight: bold;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.cardApresentacao__btn:hover {
    background-color: #9094db;
}
