h1 {
    margin-block-end: 10px;
}


.card {
background-color: rgba(255, 255, 255, 0.8);
border-radius: 27px;
min-height: 250px;
margin-bottom: 40px;
display: flex;
color: black;
}

.card-holder {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 30px;
margin-top: 50px;

}

.imagem {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudo {
    padding: 20px;
}

.conteudo li {
    font-size: 18px;
}

#harry {
    background-image: url("../imagens/harry.png");
   
}

#ron {
    background-image: url("../imagens/ron.png");
    
}

#hermione {
    background-image: url("../imagens/hermione.png");
}

#dumbledorer {
    background-image: url("../imagens/dumbledore.png");
}

#lord {
    background-image: url("../imagens/lord.png");
}

#lord img {
    width: 40px;
}

#hagrid {
    background-image: url("../imagens/hagrid.png");
}